.contactWidget {
    background: #eef8ff;
    padding: 30px;
    border-radius: 10px;
}

.contactWidget h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 160%;
    /* identical to box height, or 40px */
    /* Black */
    color: #000000;
}

.contactInfo {
    margin-top: 35px;
}

.contactInfo h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #1D2B4F;
}

.contactInfo p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #000000;
}